.navbar{
    position: sticky;
    top: 0;
    background-color: black;
    height:10vh;
    z-index: 2000;
  }
  
  .container-fluid{
    background-color: black;
    margin: 0px;
  }

  .navbar-brand{
    color: #079D5C;
    font-size: 1.5rem;
  }
  
  .navbar-brand:hover{
    color: #226F54;
  }
  
  .navbar-brand:focus{
    color: #079D5C;
  }
  
  .nav-link{
    color: #079D5C;
    font-size: 1.5rem;
  }
  
  .nav-link:focus{
    color: #226F54;
  }
  .nav-link:hover{
    color: #226F54;
  }
  
  .dropdown-menu{
    background-color: black;
    color: #079D5C;
  }
  .dropdown-item{
    background-color: black;
    color: #079D5C;
  }
  .dropdown-item:hover{
    background-color: black;
    color: #079D5C;
  }