body{
  background-color: rgb(8, 8, 8);
  color: rgb(31, 83, 31);
  font-family: cursive;
}

.App {
  text-align: justify;
}

.container-fluid{
  padding-left: 30px;
  padding-right: 30px;
}

.container{
  display: flex;
  justify-content: center;
}
.row{
  width: 100%;
}

.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.display-column{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

/* NavBar */

.navbar{
  background-color: black;
  padding: 15px;
  height:10vh;
}

.nav-link{
  color: rgb(31, 83, 31) !important;
  font-size: 1.5rem;
}

.nav-link:focus{
  color: rgb(39, 110, 39);
  border: 2px solid rgba(255, 166, 0, 0.63);
  border-radius: 10%;
  padding: 5px 15px;
}
.nav-link:hover{
  color: rgb(39, 110, 39);
}
.pointer-click:hover{
  cursor: pointer;
}

li{
  margin: 0 10px;
}

/* Header/Landing */

.landing-image{
  height: 450px;
}
.col-landing{
  display: flex;
  align-items: center;
  text-align: justify;
}

/* Item Cards */

.card-body{
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
}

.ul-detail{
  display: flex;
  justify-content: space-between;

}
.jumbotron {
  color: white;
  background-image: url("https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

/* Form */
.cartItems{
  width: 70%;
}

.form{
  width: 50%;
}

/* Responsive */

@media (max-width: 768px) {
  .form {
    width: 80%;
  }
  .cartItems{
    width: 80%;
  }
}